.center-cell {
    -fx-background-color: pink;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.TripleWord-cell{
    -fx-background-color: red;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.DoubleWord-cell{
    -fx-background-color: pink;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.TripleLetter-cell{
    -fx-background-color: blue;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.DoubleLetter-cell{
    -fx-background-color: lightblue;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.PlayerCard{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.Button{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.Button:hover{
    -fx-background-color: #ccc;
}

.TileContainer{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-margin: 5px;
    -fx-alignment: center;
    -fx-background-color: #ccc;
}

.ExitButton{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
    -fx-alignment: center;
}

.ExitButton:hover{
    -fx-cursor: hand;
    -fx-background-color: #ccc;
}

.cell-background {
    -fx-background-image: url("../Images/Tiles/A.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 60 50;
    -fx-background-position: center center;
}